<%= render 'shared/trix_helper' %>

<%= form_with model: reply do |f| %>

  <%= f.hidden_field :parent_reply_id, value: replying_to.id if replying_to %>

  <%= f.hidden_field :comment_id, value: comment.id %>

  <%= f.rich_text_area :content, class: "form-control mb-3", rows: "3", placeholder: "Write something..." %>
  <div class="d-flex justify-content-end">
    <%= f.submit "Reply", class: "btn btn-primary" %>
  </div>
<% end %>