<div class="container my-3 border-bottom">
  <div class="d-flex align-items-center">
    <%= image_tag reply.user.avatar.variant(:thumb), class: "rounded-circle me-3", alt: "User Avatar" %>
    <div>
      <h5 class="card-title mb-0"><%= link_to display_name(reply.user), user_path(reply.user), style: "color:black; text-decoration:none" %></h5>
      <p class="card-text"><small class="text-muted"><%= time_ago_in_words(reply.created_at) %> ago </small></p>
    </div>
    <div class="ms-auto">
      <%= render 'likes/like_form', model: reply %>
      <% if reply.user == current_user %>
          <%= link_to reply_path(reply), data:{"turbo-method": :delete}, style:"color:red; text-decoration:none" do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
              <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
            </svg>
          <% end %>
        <% end %>
    </div>
  </div>
  <p class="my-2"><%= reply.content %></p>
</div>