<div class="container">
  <div class="row">
    <div class="col-md-3 border-end">
      <div class="d-flex align-items-start">
        <%= image_tag current_user.avatar.variant(:thumb), class: "rounded-circle me-3", alt: "User Avatar" %>
        <div>
          <h6><%= current_user.email %></h6>
          <%= render "replies/form", comment: @comment, replying_to: nil %>
        </div>
      </div>
    </div>
    <div class="col-md-6 border-end">
      <%= render @comment.post %>
      <h4>Comment</h4>
      <%= render @comment %>

      <h4>Replies</h4>
      <% if !@replies.empty? %>
        <% @replies.each do |reply| %>
          <%= render reply %>
        <% end %>
        <%== pagy_bootstrap_nav(@pagy) %>
      <% else %>
        <p>No replies yet</p>
      <% end %>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>