<%= turbo_stream_from "conversation-#{@conversation.id}" %>

<div class="container">
  <div class="row">
    <div class="col-md-3 border-end">

    </div>
    <div class="col-md-6 border-end" data-controller="conversation">
      <div class="message-container" data-conversation-target="messages">
        <%= turbo_frame_tag "messages" do %>
          <%= turbo_frame_tag "pagination", src: conversation_path(@conversation, format: :turbo_stream), loading: :lazy %>
        <% end %>
      </div>
      <%= render 'messages/form', message: @message, conversation: @conversation %>
    </div>
    <div class="col-md-3">
      <%= render 'shared/side_bar' %>
    </div>
  </div>
</div>