<div class="container">
  <div class="row">
    <div class="col-md-3 border-end">
      <div class="d-flex align-items-start">
        <%= image_tag current_user.avatar.variant(:thumb), class: "rounded-circle me-3", alt: "User Avatar" %>
        <div>
          <h6><%= display_name(current_user) %></h6>
          <%= render "comments/form", commentable: @post %>
        </div>
      </div>
    </div>
    <div class="col-md-6 border-end">
      <%= render @post %>

      <h4>Comments</h4>
      <% if !@comments.empty? %>
        <% @comments.each do |comment| %>
          <%= render comment %>
        <% end %>
        <%== pagy_bootstrap_nav(@pagy) %>
      <% else %>
        <p>No comments yet</p>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= render 'notifications/notifications' %>
    </div>
  </div>
</div>